* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

// Variables
@import "./variables/colors.scss";
@import "./variables/mixins.scss";

// Others
@import "./others/header.scss";
@import "./others/footer.scss";
@import "./others/more.scss";

// Pages
@import "./pages/home.scss";
@import "./pages/falcon9.scss";
@import "./pages/humanFlight.scss";

// Responsives
@import "./responsives/header.scss";
@import "./responsives/more.scss";
@import "./responsives/falcon9.scss";
@import "./responsives/humanFlight.scss";