.section_more {
    background-color: #000;
    height: 100vh;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;

    .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    button {
        @include button();
        margin-top: 0;
        width: 18rem;
    }
}