* {
    color: #fff;
    margin: 0;
    font-family: "Rubik";
}

.home {
    .section_hero {
        background-image: url("../images/home/01.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .container-info {
        margin-top: 13rem;
    }

    button {
        padding: 1rem 2.5rem;
        border-width: 2px;
        margin-top: 4rem;
    }

    .arrow-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15%;

        img {
            max-width: 12rem;
        }
    }

    .section_hero2 {
        background-image: url("../images/home/03.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    .section_hero3 {
        background-image: url("../images/home/02.gif");
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    .section_hero4 {
        background-image: url("../images/home/04.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
}