.home {

    .container-info {
        margin-top: 13rem;

        p {
            max-width: 40rem;
        }
    }

    button {
        @include button()
    }

    .arrow-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15%;

        img {
            max-width: 12rem;
        }
    }

    .section_hero {
        @include background-section("../images/home/01.jpg")
    }

    .section_hero2 {
        @include background-section("../images/home/03.jpg")
    }

    .section_hero3 {
        @include background-section("../images/home/02.gif")
    }

    .section_hero4 {
        @include background-section("../images/home/04.jpg")
    }
}