.human-flight {

    background-color: #000;

    .container-hero {
        min-height: 100vh;

        .hero_title {
            font-size: 7rem;
            text-wrap: nowrap;
        }

        .hero_img{
            max-width: 12rem
        }
    }

    .section_contact {
        background-color: #000;
        min-height: 15rem;
        
        .info_contact {
            width: 45%;

            p {
                color: $table-color;
            }
        }
    }
    
    .card-container {

        h2 { 
            margin-top: 1.5rem;
            font-size: 4rem;
        }

    }

    .card-right, .card-left {
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 3rem;
    }

    .card-left {
        justify-content: start;
    }

    .card-right {
        justify-content: end;
    }

    button {
        @include button()
    }

    .section_more {
        background-color: #000;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;
        }

        button {
            margin-top: 0;
            width: 18rem;
        }
    }

    .section_hero {
        @include background-section("../images/humanFlight/01.jpg");
    }
    .section_hero2 {
        @include background-section("../images/humanFlight/02.jpg");
    }

    .section_hero3 {
        @include background-section("../images/humanFlight/03.jpg");
    }

    .section_hero4 {
        @include background-section("../images/humanFlight/04.jpg");
    }

    .section_hero5 {
        @include background-section("../images/humanFlight/05.jpg");
    }
}